@charset "UTF-8";

* {margin:0; padding:0; box-sizing:border-box;}
html,body, * {font:12pt/180% "나눔스퀘어","나눔고딕";}
img {max-width:100%;}



#layout {
	position:relative;
	max-width:700px;
	margin:auto;
	top:0;
	border:1px solid transparent;
	
}

#java {
	position:absolute;
	width:70px;	
	top:100px;
	right:0;	
}
#java img{
	display:block;
	width:100px;
}

#loginAndjoin{
	border:2px solid #ddd;
	max-width:500px; 
	margin:auto;
	margin-top:100px;
	padding:20px 30px;
	border-radius:10px;	
}

#loginAndjoin h2 {
	font-size:1.2rem;
	font-weight:600;
	text-align:center;
	color:#333;
	padding-bottom:10px;
	
}
#loginAndjoin h2 img {
	display:inline-block;
	width:17px;
	margin-right:6px;
	transform:translateY(3px);
}

#loginAndjoin input,
#login_button {
	display:block;
	width:100%;
	max-width:400px;
	margin:auto;
	margin-top:5px;
}
#loginAndjoin input:first-of-type{
	margin-top:0;
}

#login_button {
	padding:13px;
	background:#0000B7;	
	color:white;
	font-weight:900;
	font-size:1rem;
	border-radius:5px; 
	display:block;
	margin-top:6px !important;
}

#naver {
	display:block;
	width:100%;
	max-width:400px;	
}
#naver img {
	display:block; 
	width:100%;
	height:50px;
	margin-top:5px;
}

#loginAndjoin form>a  {
	display:block;
	max-width:400px;
	margin:auto;
}

#loginAndjoin [id="back"]{
	display:block;
	margin:auto;
}

#loginAndjoin hr {	
	width:100%;
	margin-bottom:10px;
}

#back{
	display:block;	
	width:200px;
	height:50px;	
}


#id{
	width:390px;
	height:50px;
	text-align:center;
	font-size:1em;
	border-radius:5px;
}

#pass{
   width:390px;
   height:50px;
   text-align:center;
   font-size:1rem;
   border-radius:5px;
   margin-top:5px;
   color:blank;
   font-family:arial;
   
}
	
}

#naver{
	width:400px;
	height:50px;
	text-align:center;
	border-radius:5px;
	margin-top:5px;
	
}

#additional{	
	text-align:center;	
	padding:7px 0;
}

.a1{
	text-decoration:none;
}

.a1:hover{
	color:#FF48C7;
	cursor:pointer;

}


footer {
	position:fixed;
	width:100%;
	bottom:0px; 
	text-align:center;
	background:#eee;
	padding:10px;
	padding-bottom:15px;
}


@media(max-width:600px){
	#java {top:20px; }
	#loginAndjoin, #naver,  #loginAndjoin form>a {
		max-width:100%;
	}
}


